# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # hwi oauth client
    hwi_oauth.client_id:         client_id
    hwi_oauth.client_secret:     client_secret
    hwi_oauth.access_token_url:  https://path.to/oauth/v2/token
    hwi_oauth.authorization_url: https://path.to/oauth/v2/authorize
    hwi_oauth.infos_url:         https://path.to/api/user

    hwi_oauth.user.provider.fosub_bridge.class: AppBundle\Security\Core\User\OpenPPUserProvider

    # openpp client verify endpoint url
    openpp_oauth_client.client_verify_url:    https://path.to/api/user/verify
